body{
			background-color: lightpink;
		}
		p{
			color: #66BFBF;
			text-shadow: 2px 2px 2.5px floralwhite;
			font-family: Monaco,monospace;
		}
		hr{
			border-style: none;
			border-top-style: dotted;
			border-color: floralwhite;
			border-width: 5px;
			width: 100px;
		}
		h1{
			color: floralwhite;
			text-shadow: 2.5px 2.5px 5px black;
			font-family: Lucida Handwriting,cursive;
		}
		h3{
			color: floralwhite;
			text-shadow: 5px 5px 10px black;
			font-family:  Georgia,serif;
		}
		tr,ul,ol,a{
			font-family: Verdana,sans-serif;
		}
		