body{
			background-color: lightpink;
		}
		p{
			color: red;
		}
		hr{
			border-style: none;
			border-top-style: dotted;
			border-color: floralwhite;
			border-width: 5px;
			width: 100px;
		}
		h1{
			color: #66BFBF;
		}
		h3{
			color: #66BFBF;
		}